/* .bcrumbs {
	padding-top: 29px;
	margin: 20px;
}


.bcrumbs__name:before {
	content: '/';
}

.bcrumbs__name:first-child:before {
	content: none;
}

.bcrumbs__name {
	display: inline-block;
	box-sizing: border-box;
	padding-top: 29px;
	font-style: italic;
	font-size: 14px;
}

.bcrumbs__text--active.bcrumbs__text{
	text-decoration: none;
	color: black;
}


 */
