.content {
  width: 75%;
  margin-left: 15px;
}

.content__picture {
  display: block;
  margin: 0;
}

.content__title {
  color: #221f1f;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 7px;
  padding-left: -8px;
  box-sizing: border-box;
}

.content__title.content__title-views {
	line-height: 0px;
	padding-top: 0;
}

.maincontent {
  margin-bottom: 40px;
}
