.content {
  width: 81%;
}

.content__picture {
  display: block;
  margin: 0;
}

.content__title {
  color: #221f1f;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 7px;
  padding-left: -8px;
  box-sizing: border-box;
}

.content__title.content__title-views {
	line-height: 0px;
	padding-top: 0;
  /* margin-top: -10px; */
  /* margin-bottom: 80px; */
}

.maincontent {
  margin-bottom: 78px;
}
