.question-form {
	width: 690px;
	border-radius: 5px;
	margin: 0 auto;
	background-color: #f5f5f5;
	margin-bottom: 45px;
	box-sizing: border-box;
}

.form__title {
  color: #221f1f;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 7px;
  padding-left: -8px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.form {
	padding: 50px 9%;	
}

.form__input {
	padding: 15px 9px;
	border-style: none;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
}

.form__block:last-child {
	margin-right: 0;
}

.form__block {
	margin-right: 30px;
	flex: 1;
}

.form__row {
	display: flex;
	margin-bottom: 35px;
}

.form__row:last-child {
	margin-bottom: 0;
}

.question-form__title {
	margin: 0;
}

.form__input--textarea {
	resize: vertical;
	height: 90px;
	max-height: 300px;
}

.form__row-question, .form__row-button {
	flex: 1;
}

.radio {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	margin: 0 20px 0 0;
}

.radio__input {
	display: none;
	margin: 0;
}

.radio__input:checked ~ .radio__block {
	color: rgb(29, 91 ,195);
}

.radio__input:checked ~ .radio__check {
	background-image: linear-gradient(white, lightgrey);
}

.radio__check {
	position: relative;
	height: 15px;
	width: 15px;
	margin-right: 7px;
	border-radius: 50%;
	background-image: linear-gradient(lightgrey, white);
}

.radio__check-circle {
	display: none;
}

.radio__input:checked ~ .radio__check .radio__check-circle {
	display: block;
	width: 6px;
	height: 6px;
	background-color: rgb(29, 91 ,195);
	border-radius: 50%;
	margin: auto;
	position: absolute;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

.form__row-button {
	display: flex;
	justify-content: flex-end;
}

.button__elem {
	display: flex;
	height: 47px;
	width: 175px;
	margin-bottom: -20px;
	background-color: #4b73b5;
	border-style: none;
	letter-spacing: 3px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

.button__elem:hover {
	background-color: white;
	color: #4b73b5;
	transition: .5s;
}

.pip:before {
	background-image: url(./../../img/sprite.png) 0px 0px;
}

.pip, .pop {
	box-sizing: border-box;
}

.pip {
	font-size: 11px;
	margin: 17px 15px;
}

.pop {
	padding: 10px 0;
}

.pop:before {
	background-image: url(./../../img/sprite.png) -48px -18px;
}
