.header {
  background: #4b73b5;
  color: #fff;
  margin-bottom: 13px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  padding: 5px 0;
}

.contacts {
  top: 20px;
  right: 21px;
  text-align: right;
  font-style: normal;
  margin-right: -8px;
}

.contacts__phone {
  color: inherit;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

.working__time {
  display: flex;
  flex: 
  position: relative;
  text-decoration: underline;
  opacity: .7;
  font-size: 14px;
  margin-top: -3px;
}

.working__time:hover .working__menu {
  display: block;
}

.working__menu {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  top: 100%;
  display: none;
}