.header {
  background: #4b73b5;
  color: #fff;
  margin-bottom: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  padding: 5px 0;
}

.contacts {
  top: 20px;
  right: 21px;
  text-align: right;
  font-style: normal;
  margin-right: -8px;
}

.contacts__phone {
  color: inherit;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

.working__time {
  display: flex;
  justify-content:flex-end;
  text-decoration: underline;
  font-size: 14px;
  margin-top: -3px;
  position: relative;
}


.working__time-title:hover {
  opacity: 1;
  width: 100%;
  /* transition: 3ms; */
}

.working__time-title:hover .working__triangle {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  /* transition: 3ms; */
}

.working__time-title:hover .working__list{
  display: flex;
  box-shadow: 0 0 10px  rgb(0, 0 ,0 ,.7);
  /* transition: 3ms; */
}

.working__menu {
  position: absolute;
  top: 100%;
  /* margin-right: -40px; */
}

.working__list {
  color: black;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  display: none;
}

.working__list-one {
  color: blue;
  font: "Roboto - Bold";
  font-weight: 700;
}

.triangle {
  display: flex;
  height: 0;
  width: 0;
  border: 13px solid transparent;
  border-bottom-width: 15px;
  border-bottom-color: white;
  border-top-width: 0;
  padding: 0;
}

.working__time-title {
  display: flex;
  justify-content: flex-end;
  /* flex: 1; */
  cursor: pointer;
  position: relative;
  opacity: .5;
}

.working__triangle {
  display: none;
}

