.members {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 10px;
	padding-left: 17px;
}

.members__section {
	width: calc(100% / 3 - 40px);
	text-align: center;
	margin-right: 40px;
}

.members__section:nth-child(3n) {
	margin-right: 0;
}

.block__photo-pic {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.content__members-title {
	color: #221f1f;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 30px;
   box-sizing: border-box;
}

.block__photo {
	margin-bottom: -7px;
}

.block__name {
	margin-bottom: 0px;
	font-size: 18px;
}

.block__par {
	color: #4b73b5;
	margin-top: 0px;
	font-size: 14px;
}

.block__text {
	margin-top: -8px;
	font-size: 15px;
}

.content__title.partners__title {
	font-size: 49px;
	/* margin-top: 26px; */
}

.mask {
	position: absolute;
	height: 160px;
	width: 160px;
	background-color: rgba(0, 0, 0, .5);
	top: -0%;
	border-radius: 50%;
	color: white;
	text-align: center;
	display: flex;
}

.mask__name {
	margin: auto;
	font-size: 25px;
}

.mask:hover {
	background-color: rgba(0, 0, 0, 0);
	color: transparent;
	transition: 1s ;
}