.news {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  width: 30%;
  margin-right: 0px;
  text-align: center;
  box-sizing: border-box; 
  border-bottom: 2px solid transparent;
  padding-top: 0px;
}

.news__list {
  display: flex;
  }

.news__block {
  width: 300px;
  height: 500px;
  }

  .news__box {
    text-align: left;
  }