.partners__main {
	margin-top: 0px;
	margin-bottom: 20px;
	border: 2px solid #e9eaee;
	
}

.partners__logo {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 0;
	}

.partners__logo-pic {
	height: 100px;
	width: 200px;
	/* width: calc(100% / 1 ); */
	text-align: center;
	filter: opacity(30%);
	cursor: pointer;
}

.partners__title {
	margin-bottom: 0px;
	/* text-decoration: none; */
	text-align: center;
}

.partners__logo-pic:hover {
	filter: opacity(100%);
	transition: 1s;
}

.partners-box {
	margin-bottom: 50px;
}