.question {
	background: url(../../img/fon_question_.png);
	margin-bottom: 15px;
	margin-top: 45px;
}

.question__container {
	display: flex;
	max-width: 100%;
	justify-content: center;
}

.question__text {
	line-height: 1.8em;
	padding-left: 0px;
	color: white;
	width: 89%;
	padding: 0px 0;
	text-align: center;
}

.question__text-anchor, .question__text-phone {
	color: white;
	font-weight: bold;
}

.question__text-phone {
	text-decoration: none;	
}