.rates__section {
  width: 100%;
  height: 100%;
  width: 272px;
  height: 372px;
  border: 1px solid #e8e9ed;
  margin-bottom: 40px;
}

.rates__text {
  text-align: left;
  /* padding-left: 20px; */
}

.rates__name {
  text-align: center;
  color: #212121;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 51.38px;
  text-transform: uppercase;
  letter-spacing: 1.32px;
  margin-bottom: 0px;
}

.rates__name-two {
  text-align: center;
  color: #212121;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 700;
  line-height: 51.38px;
  text-transform: uppercase;
  letter-spacing: 2.88px;
  margin-bottom: 7px;
}

.rates__par {
  color: #221f1f;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  margin-top: 0px;
  line-height: 1.7em;
}

.rates__list {
  padding: 0  25px;
  width: 185px;
  height: 50px;
  color: #221f1f;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0px;
  line-height: 1.8em;
}

.rates__list>li {
  list-style: inside;
}

.rates__list {
  padding-left: 0px;
  vertical-align: left;
}

.rates__price {
  color: #212121;
  font-family: Roboto;
  font-size: 54px;
  font-weight: 400;
  letter-spacing: -1.07px;
  text-align: center;
  margin-top: 43px;
}

.dollar {
  font-size: 32px;
}

.rates__price-elem, .dollar {
  display: inline-block;
}