.sidebar {
  margin-top: 0px;
  margin-left: 0px;
}

.sidebar {
  width: 23%;
}

.footer-contacts {
  display: flex;
  font-style: normal;
}

.footer__social {
  -ms-flex-align: center;
}

.social__item {
  height: 20px; 
  width: 20px;
  background-color: white;
  border-radius: 50%;
  margin: -10px 10px 0 0;
  opacity: .7;
  cursor: pointer;
}

.social__item {
  display: inline-block;
}

.social__item-pic {
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social__item:last-child {
  margin-right: 0px;
}

.social__item:hover {
  opacity: 2;
}

.footer-contacts__title {
 font-weight: bold;
 font-family: Roboto;
}