.sidebar {
  margin-top: 0px;
  margin-left: 0px;
}

.sidebar {
  width: 23%;
}

.footer-contacts {
  font-style: normal;
  padding: 0px 50px;
}

.footer-contacts__title {
 font-weight: bold;
 font-family: Roboto;
}